<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Weibo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/css/flat-ui.css" rel="stylesheet">

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Weibo</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Index</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
              {% if user.is_authenticated %}
              <li><a href="/logout/">Logout</a></li>
              {% endif %}
            </ul>
            {% if user.is_authenticated %}
            <span style="color:white">Welcome, {{ user.username }}.</span>
            {% else %}
            <form class="navbar-form pull-right" method="POST" action="/login/"> {% csrf_token %}
              <input class="span2" type="text" name="username" placeholder="Username">
              <input class="span2" type="password" name="password" placeholder="Password">
              <button type="submit" class="btn">Sign in</button>
            </form>
            {% endif %}
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <img src="http://designmodo.com/demo/flat-ui/images/illustrations/share.png" width="40" height="40">
        <input type="text" class="input-xxlarge" placeholder="What are you doing?">
        <p><a href="#" class="btn btn-primary">发布</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span8">
          <p><img src="https://secure.gravatar.com/avatar/2218738f80750c8e64a517da82fa8de3?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" width="40" height="40">
          Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>

          <p><img src="https://secure.gravatar.com/avatar/2218738f80750c8e64a517da82fa8de3?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" width="40" height="40">
          Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>

          <p><img src="https://secure.gravatar.com/avatar/2218738f80750c8e64a517da82fa8de3?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" width="40" height="40">
          Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>

        </div>
        <div class="span4">
          <img src="http://code.dapps.douban.com/static/img/badges/1.png">
          <img src="http://code.dapps.douban.com/static/img/badges/2.png">
          <img src="http://code.dapps.douban.com/static/img/badges/3.png">
          <img src="http://code.dapps.douban.com/static/img/badges/4.png">
          <img src="http://code.dapps.douban.com/static/img/badges/5.png">

          <p><a href="#">more &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Company 2013</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
